@page "/post/{PostId:int}"
@inject IBlogRepository BlogRepository

@if (post is not null)
{
    <h2>@post.Title</h2>
    <p>@post.Content</p>
}
else
{
    <p>Post not found</p>
}

@code {
    [Parameter]
    public int PostId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        post = await BlogRepository.GetPostAsync(PostId);
    }

    private BlogPost? post;
}